htlm, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 4.3rem;
}

.logo_img {
  padding-left: 10px;
}

.nav__menu-button {
  padding-top: 0.5rem;
}

li {
  list-style-type: none;
}

main {
  height: 5rem;
}

.nav__list {
  font-family: roboto_medium;
  font-size: 1rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.nav__list-item {
  margin-top: 2rem;
}

.nav__link {
  color: #333333;
}

a {
  text-decoration: none;
}

nav {
  display: none;
}

.wrapper {
  background: url(../img/mainbackground.jpg);
  background-position: 50% 70%;
  background-repeat: no-repeat;
}

.align__flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  height: 40rem;
}

.main__content {
  margin-top: 1rem;
}

.main__flex-items {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.main__text {
  margin-top: 4rem;
}

.main__title {
  font-family: roboto_bold;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.main__descript {
  font-family: roboto_medium;
  font-size: 1rem;
  margin-bottom: 4.5rem;
}

.main__button {
  height: 2.6rem;
  width: 9.5rem;
  background-color: white;
  border: 0.2rem #5ec6ce solid;
  border-radius: 1.5rem;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  vertical-align: middle;
  padding-bottom: 2rem;
}

.main__button-link {
  font-family: roboto_bold;
  font-size: 1rem;
  color: #444444;
}

.main__social-buttons {
  flex-direction: row;
  justify-content: center;
  margin-top: 16.55rem;
}

.fa {
  padding: 20px;
  font-size: 45px;
  min-width: 35px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #CB0866;
  color: white;
}

.fa-youtube {
  background: red;
  color: white;
}

.product__type {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product__button {
  width: 11.25rem;
}

.p__type-flex-left, .p__type-flex-right {
  display: flex;
  flex-direction: column;
}

.product__button {
  width: 17rem;
}

.product__cards {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  overflow: auto;
  margin-top: 5rem;
}

.product__card {
  height: 100%;
  position: relative;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

.product__card-img {
  height: 440px;
  width: 260px;
  box-shadow: 0px 1rem 10px #ececec;
  border-radius: 1rem;
  border: 4px white solid;
}

.product__descript {
  position: absolute;
  top: 350px;
  left: 60px;
}

.product__title, .product__title_bold {
  font-size: 20px;
  color: #535353;
}

.product__title {
  font-family: roboto_regular;
}

.product__title_bold {
  font-family: roboto_black;
}

.product__price {
  font-family: helvetica_bold;
  font-size: 14px;
  color: #7fbb00;
}

.feature, .feature__content {
  height: 100%;
  background-color: #F7F6F2;
  font-family: roboto_regular;
}

.feature__title {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 0;
  padding-left: 2rem;
}

.feature__title-mini {
  font-weight: 500;
  font-size: 12px;
}

.feature__descript {
  font-weight: 400;
  font-size: 16px;
  padding: 2rem 2rem 2rem 2rem;
  max-width: 800px;
}

.li__title {
  font-weight: 900;
  font-size: 18px;
}

.li__descript {
  font-size: 16px;
  max-width: 300px;
}

.feature__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.feature__center-img {
  display: none;
}

.offer__content {
  display: flex;
  flex-direction: column;
}

.offer__content {
  font-family: roboto_regular;
  display: flex;
}

.offer__products {
  overflow: auto;
  display: flex;
  margin-top: 1rem;
}

.offer__product-card {
  height: 280px;
  width: 160px;
}

.card__line {
  height: 2px;
  width: 30px;
  background-color: #eeeeee;
  border: 0;
  margin-top: 1rem;
}

.offer__product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #abd45a solid;
  border-radius: 0.7rem;
  box-shadow: 0px 1rem 10px #ececec;
  margin-left: 1rem;
}

.offer__card-text {
  margin-top: 2rem;
}

.offer__card_title {
  font-weight: 400;
  font-size: 18px;
}

.offer__card_titlebold {
  font-weight: 900;
  font-size: 18px;
}

.offer__card_quant {
  color: #7fb900;
  font-family: helvetica_oblique;
  font-size: 13px;
}

.offer__text {
  margin-left: 1rem;
  margin-top: 4rem;
}

.offer__text_tagline {
  font-weight: 500;
  font-size: 12px;
}

.offer__text_title {
  font-weight: 900;
  font-size: 35px;
}

.offer__text_descript {
  font-family: helvetica_oblique;
  font-size: 16px;
}

.nutrix {
  font-family: roboto-regular;
  margin-top: 4rem;
}

.nutrix__up_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrix__up-title {
  border: 2px #e5e5e5 solid;
  border-radius: 2rem;
  padding: 0.4rem 2rem 0.4rem 2rem;
}

.nutrix__tagline {
  font-family: roboto_medium;
  color: #525252;
  font-size: 12px;
}

.up__title {
  font-size: 20px;
  color: #525252;
  font-family: roboto_light;
}

.up__title_bold {
  font-family: roboto_black;
  color: #525252;
  font-size: 20px;
}

.nutrix__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nutrix__button {
  height: 2rem;
  background-color: #7fbc00;
  border: 1px #7fbc00 solid;
  border-radius: 1rem;
  margin-right: 10px;
  margin-top: 1rem;
  max-width: 170px;
}

.nutrix__button_link {
  width: 100%;
  font-family: roboto_black;
  font-size: 14px;
  color: white;
  margin: 0 10px 0 10px;
}

.nutrix__link-span {
  font-family: roboto_regular;
  font-size: 14px;
  color: white;
}

.nutrix__down {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=index.css.map */
