htlm,body
    margin: 0
    padding: 0
    width: 100%
    height: 100%
.header__content
    display: flex
    justify-content: space-between
.logo
    width: 4.3rem
.logo_img
    padding-left: 10px
.nav__menu-button
    padding-top: 0.5rem
li
    list-style-type: none
main
    height: 5rem
.nav__list
    font-family: roboto_medium
    font-size: 1rem
    margin-bottom: 2.5rem
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 4rem
    
.nav__list-item
    margin-top: 2rem
.nav__link
    color: #333333
a
    text-decoration: none

nav
    display: none
.wrapper
    background: url(../img/mainbackground.jpg)
    background-position: 50% 70%
    background-repeat: no-repeat

.align__flex-center
    display: flex
    flex-direction: column
    align-items: center


main
    height: 40rem
.main__content
    margin-top: 1rem  
.main__flex-items
    display: flex
    justify-content: space-around 
    flex-direction: column
.main__text
    margin-top: 4rem
.main__title
    font-family: roboto_bold
    font-size: 3rem
    margin-bottom: 2.5rem
.main__descript
    font-family: roboto_medium
    font-size: 1rem
    margin-bottom: 4.5rem
.main__button
    height: 2.6rem
    width: 9.5rem  
    background-color: white
    border: 0.2rem #5ec6ce solid
    border-radius: 1.5rem
    color: white
    padding: 20px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px
    margin: 4px 2px
    cursor: pointer
    vertical-align: middle
    padding-bottom: 2rem
.main__button-link
    font-family: roboto_bold
    font-size: 1rem
    color: #444444

.main__social-buttons
    flex-direction: row
    justify-content: center
    margin-top: 16.55rem
.fa
  padding: 20px
  font-size: 45px
  min-width: 35px
  text-align: center
  text-decoration: none
.fa-facebook 
  background: #3B5998
  color: white
.fa-twitter 
  background: #55ACEE
  color: white
.fa-instagram
    background: #CB0866
    color: white
.fa-youtube
    background: red
    color: white



.product__type
    display: flex
    flex-direction: column
    align-items: center
    position: relative

.product__button
    width: 11.25rem


.p__type-flex-left,.p__type-flex-right
    display: flex
    flex-direction: column
.product__button
    width: 17rem
.product__cards
    display: flex
    margin-bottom: 40px
    width: 100%
    overflow: auto
    margin-top: 5rem
    
.product__card
    height: 100%
    position: relative
    margin-left: 2rem
    margin-bottom: 3rem
.product__card-img
    height: 440px
    width: 260px
    box-shadow:  0px 1rem 10px #ececec
    border-radius: 1rem
    border: 4px white solid
.product__descript
    position: absolute
    top: 350px
    left: 60px
.product__title,.product__title_bold
    font-size: 20px
    color: #535353
.product__title
    font-family: roboto_regular
.product__title_bold
    font-family: roboto_black
.product__price
    font-family: helvetica_bold
    font-size: 14px
    color: #7fbb00

.feature,.feature__content
    height: 100%
    background-color: #F7F6F2
    font-family: roboto_regular
.feature__title
    font-weight: 900
    font-size: 40px
    margin-bottom: 0
    padding-left: 2rem
.feature__title-mini
    font-weight: 500
    font-size: 12px
.feature__descript
    font-weight: 400
    font-size: 16px
    padding:  2rem 2rem 2rem 2rem 
    max-width: 800px

.li__title
    font-weight: 900
    font-size: 18px
.li__descript
    font-size: 16px
    max-width: 300px
.feature__text
    display: flex
    flex-direction: column
    align-items:  center
.feature__list
    display: flex
    flex-direction: column
    align-items: center
    padding: 0
.feature__center-img
    display: none



.offer__content
    display: flex
    flex-direction: column
.offer__content
    font-family: roboto_regular
    display: flex
.offer__products
    overflow: auto
    display: flex
    margin-top: 1rem
.offer__product-card
    height: 280px
    width: 160px
.card__line
    height: 2px
    width: 30px
    background-color: #eeeeee
    border: 0
    margin-top: 1rem
.offer__product-card
    display: flex
    flex-direction: column
    align-items: center
    border: 2px #abd45a solid
    border-radius: 0.7rem
    box-shadow:  0px 1rem 10px #ececec
    margin-left: 1rem
.offer__card-text
    margin-top: 2rem
.offer__card_title
    font-weight: 400
    font-size: 18px
.offer__card_titlebold
    font-weight: 900
    font-size: 18px
.offer__card_quant
    color: #7fb900
    font-family: helvetica_oblique
    font-size: 13px
.offer__text
    margin-left: 1rem
    margin-top: 4rem
.offer__text_tagline
    font-weight: 500
    font-size: 12px
.offer__text_title
    font-weight: 900
    font-size: 35px
.offer__text_descript
    font-family: helvetica_oblique
    font-size: 16px

.nutrix
    font-family: roboto-regular
    margin-top: 4rem
.nutrix__up_text
    display: flex
    flex-direction: column
    align-items: center
.nutrix__up-title
    border: 2px #e5e5e5 solid
    border-radius: 2rem
    padding: 0.4rem 2rem 0.4rem 2rem
.nutrix__tagline
    font-family: roboto_medium
    color: #525252
    font-size: 12px
.up__title
    font-size: 20px
    color: #525252
    font-family: roboto_light
.up__title_bold
    font-family: roboto_black
    color:  #525252
    font-size: 20px
.nutrix__buttons
    display: flex
    flex-wrap: wrap
    justify-content: center
.nutrix__button
    height: 2rem
    background-color: #7fbc00
    border: 1px #7fbc00 solid
    border-radius: 1rem
    margin-right: 10px
    margin-top: 1rem
    max-width: 170px
.nutrix__button_link
    width: 100%
    font-family: roboto_black
    font-size: 14px
    color: white
    margin: 0 10px 0 10px
.nutrix__link-span
    font-family: roboto_regular
    font-size: 14px
    color: white
.nutrix__down
    display: flex
    flex-direction: column


.discount
    background-color: #f7f6f2
    color: #525252
.discount__content
    display: flex
    flex-direction: column
    align-items: center
    margin-top: -3rem
    padding-top: 4rem
.dis__left_title
    margin-left: 2rem
.dis__deal-title
    font-family: roboto_medium
    font-size: 12px
    text-align: right
    padding-right: 3.7rem
.dis__off-title
    font-family: roboto_light
    font-size: 40px
.dis__center_img
    margin-right: 3rem
    margin-left: 3rem
.percent__off
    font-family: roboto_black
    font-size: 40px
.dis__right_description
    font-family: helvetica_regular
    font-size: 14px
    max-width: 700px
    margin-left: 1rem
.discount__up
    display: flex
    flex-direction: column
    align-items: center
.discount__block_line
    display: flex
    width: 100%
.dis__line
    width: 150px
    height: 2px
    background-color: #7dbe00
    border: 0
.dline__left,.dline__right
    width: 30%
    height: 2px
    background-color: white
    border: 0

.cont__title
    font-family: helvetica_bold
    font-size: 40px
    color: #525252
.cont__title__text
    font-family: helvetica_bold
    font-size: 14px
    color: #525252


.dis__counter_container
    display: none
.cont
  width: 300px
  height: auto
  display: grid
  grid-gap: 20px
  grid-template-columns: repeat(4, 1fr)
  padding: 10px
  margin: 50px auto

h5,h6
    margin: 0 0.5rem 0 0.5rem
h5
    margin-top: 1rem
h6
    margin-bottom: 1rem

.cont__item
  background: linear-gradient(to bottom, #00b09b, #96c93d)
  border-radius: 5px
  padding: 5px
  height: 50px
.cont__element 
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  background: white
  border-radius: 3px
.cont__title 
  font-size: 25px
  font-size: "Oswald", sans-serif
  text-transform: uppercase
  letter-spacing: 1px
  padding: 0
.cont__title__text
    padding: 0



.c__main_tagline
    font-family: roboto_medium
    font-size: 10px
    color: #a0a0a0
.c__main_title
    font-family: roboto_light
    font-size: 30px
    color: #525252
.c__main_title_b
    font-family: roboto_black
    font-size: 30px
    color: #525252
.c__main_descript
    font-family: helvetica_regular
    font-size: 14px
    color: #525252
.main__img_button
    font-family: helvetica_bold
    font-size: 11px
    color: white
.c__main_price
    font-family: helvetica_bold
    font-size: 14px
    color: #7fba00
.far,.fas
    font-size: 2rem
    color: #c4c4c4
.fas:hover
    color: #7fba00
.far:hover
    color: #7fba00
.dis__card_container
    background-color: white
    border-radius: 1rem
    display: flex
    max-height: 230px
.card__buttons_cont
    display: none
    border-right: 2px #f7f6f2 solid
.border__top-bottom
    border-top: 2px #f7f6f2 solid
    border-bottom: 2px #f7f6f2 solid
.buttons__item
    padding: 1.5rem 1rem 1rem 1rem
.padding__icon_left
    padding-left: 20px
.card__main_cont
    padding-left: 2rem
    display: flex
    padding-right: 0.3rem
.c__main_descript
    max-width: 250px
.main__img_contain
    position: relative
.card__main_img
    margin-left: 2rem
.main__img_button
    height: 25px
    width: 70px
    background-color: #92d2a7
    border-radius: 1rem
    border: 1px transparent
    margin-top: 20px
.card__img_absol
    width: 205px
    position: absolute
    left: 0
    top: 3rem
    display: none



.new__arriv_tagline
    font-family: roboto_medium
    font-size:  10px
    color: #9f9f9f
.new__arriv_title
    font-family: roboto_light
    font-size: 28px
    color: #525252
.new__arriv_title_bold
    font-family: roboto_black
    font-size: 28px
    color: #525252
.popular__card_title
    font-family: roboto_regular
    font-size: 18px
    color: #525252
.popular__card_title_bold
    font-family: roboto_black
    font-size: 18px
    color: #525252
.popular__card_price
    font-family: helvetica_bold
    font-size: 14px
    color: #7fbb00
.popular__text_line
    width: 30px
.popular__list_container
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 4rem
.popular__card
    margin-top: 2rem
    max-width: 370px
    border: 1px #efefef solid
    border-radius: 1rem
    display: flex
.popular__card_text
    padding-top: 1rem
    padding-left: 2rem
    padding-right: 1rem
.popular__text_line
    margin-top: 1rem
    margin-left: 0
.popular__card_img
    padding-left: 1rem

.new__arriv_text
    margin-top: 2rem
.down__button_left
    margin-right: 2rem
.down__button_img
    max-width: 530px
    border: 1px transparent solid
    border-radius: 1rem
.down__button_img:hover
    border: 1px #7fbb00 solid
    box-shadow:  0px 1rem 10px #dddddd